.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/scala_compiler.xml
.idea/sbt.xml
.idea/misc.xml
.idea/hydra.xml
.idea/encodings.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/.name
